
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');


.heading{
  font-family: sora;
}

.heading1{
  font-family: sora;
}

.heading2{
  font-family: sora;
}

.heading3{
  font-family: sora;
}

.heading4{
  font-family: outfit;
}
.heading5{
  font-family: sora;
}
.heading6{
  font-family: sora;
}
.heading7{
  font-family: outfit;
}
.heading8{
  font-family: outfit;
}
.para1{
  font-family: outfit;
}

.para2{
  font-family: outfit;
}

.para3{
  font-family: outfit;
}

.btn{
  font-family: outfit;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  cursor: none;
}

.heading9{
  font-family: outfit;
}